/*Estilo Geral*/
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Tahoma, sans-serif;
    background-color: beige;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
}

/*Cabeçalho*/
.logo {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.logo img {
    width: 40px;
    height: 40px;
}

header {
    display: flex;
    justify-content: space-between;
    max-height: 70px;
    min-height: 50px;
    padding: 10px; 
    align-items: center;
    color: beige;
    background-color: rgb(79, 44, 10);
}

nav a {
    font-size: 20px;
    font-weight: 600;
    margin-right: 18px;
    border: 1px solid transparent;
    padding: 10px;
}

nav a:hover {
    border: 1px solid #aa6017;
    color:#aa6017;
}

/*Seçao Imagem principal*/
.imgppal {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

/*Cards em destaque*/
.destaque {
    max-width: 100%;
    display: flex;
    align-items: center;
    flex-flow:wrap;
}

.card {
    width: 320px;
    height: 320px;
    margin: 0.5rem;
    border-radius: 10px;
    background-color: #F8F8F8;
    overflow: hidden;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 12%);
    margin: 1rem;
}

.card:hover, .minicard:hover, .comercial:hover {
    box-shadow: 0 2px 3px 0 rgba(12, 12, 12, 0.3);
    opacity: 0.90;
    cursor: pointer;
}

.card_img {
    width: 100%;
    border-radius: 10px;
    display: flex;
    align-content: center;
    justify-content: center;
}

.card_info {
    padding: 0 10px 10px 10px;
    display:flex;
    flex-direction: column;
}
 
.card_badge {
    color:rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 600;
    line-height: 36px;
}

.card_info p {
    color:rgba(0, 0, 0, 0.6);
    font-size: 12px;
    line-height: 18px;
    text-align: justify;
    flex-grow: 1;
    flex-shrink: 1;
}

.card_price {
    font-size: 16px;
    font-weight: 500;
    line-height: 32px;
}

/*Seção Serviços*/
.servicos, .recomendacoes {
    height: 500px;
    width: 100%;
    background-color: rgb(79, 44, 10);
    display: flex;
    margin: 0 1rem 1 rem 0;
}

.venda, .aluguel {
    padding: 1rem;
    width: 30%;
    height: 100%;
}

.comerciais{
    padding: 1rem;
    width: 40%;
    height: 100%;
}    

.servicos h3, .dicas h3, .recomendacoes h3, .leis h3 {
    color: #ff972f;
    font-size: 24px;
    text-align: left;
    margin: 1rem;
}

.minicard {
    width: 380px;
    height: 120px;
    margin: 0.5rem;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 12%);
    margin: 0.3rem;
    padding: 0.2rem;
}

.minicard img {
    width: 48%;
    float:inline-start;
    border-radius: 5px;
    margin-right: 0.7rem;
}

article p, .dicas p, .recomendacoes p, .leis article a {
    font-size: 15px;
    text-align: justify;
    justify-content: center;
    font-weight: bold;
    color: #F8F8F8;
    line-height: 28px;
}

.comercial_img {
    border-radius: 5px;    
}

/*Seção Dicas, Recomendações e Leis*/
.recomendacoes{
    background-color: rgb(35, 20, 5);
    height: 400px;
}

.dicas, .leis {
    text-align: justify;
    margin: 1em 2em 2em 2em;
}

.dicas p, .leis p {
    font-weight: 300;
    margin: 1em 2em 2em 1em;
}

.leis a:hover {
    text-decoration: underline;
}

.dicas {
    width: 60%;
}

.leis {
    width: 40%;
}
.leis h3 {
    margin-left: -0.2rem;
}

/*Footer*/
footer {
    height: 100px;
    width: 100%;
    background-color: rgb(21, 12, 3);;
    margin: 0 1rem 1 rem 0;
    color: #aa6017;
    text-align: center;
    align-content: center;
}